@tailwind base;
@tailwind components;
.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal{
    position: absolute;
    left: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
}
:root {
    --swiper-theme-color: #f9f9f9 !important;
}

.swiper-pagination-bullet{
    width: 5px !important;
    height: 5px !important;
}
.swiper-pagination-bullet-active {
    transition: all 400ms;
    width: 20px !important;
    height: 6px!important;
    border-radius: 5px !important;
}

@tailwind utilities;